<div class="main-wrapper">
    <section class="cta-section theme-bg-light py-5">
        <div class="container text-center single-col-max-width">
            <h2 class="heading mb-3">Online Resume</h2>
            <!-- <a class="btn btn-primary"
                href="https://themes.3rdwavemedia.com/resources/sketch-template/resume-sketch-sketch-resume-template-for-software-developers/"
                target="_blank"><i class="fas fa-file-pdf mr-2"></i>Download PDF Version</a> -->
        </div>
        <!--//container-->
    </section>
    <div class="container px-3 px-lg-5">
        <article class="resume-wrapper mx-auto theme-bg-light p-5 mb-5 my-5 shadow-lg">

            <div class="resume-header">
                <div class="row align-items-center">
                    <div class="resume-title col-12 col-md-6 col-lg-8 col-xl-9">
                        <h2 class="resume-name mb-0 text-uppercase">Aidan Melendez</h2>
                        <div class="resume-tagline mb-3 mb-md-0">Software Developer</div>
                    </div>
                    <!--//resume-title-->
                    <div class="resume-contact col-12 col-md-6 col-lg-4 col-xl-3">
                        <ul class="list-unstyled mb-0">
                            <li class="mb-2"><fa-icon class="px-2" [icon]="['fab', 'github-alt']"></fa-icon><a class="resume-link"
                                    href="https://github.com/CoreAidan">https://github.com/CoreAidan</a></li>
                            <li class="mb-2"><fa-icon class="px-2" [icon]="['fas', 'envelope-square']"></fa-icon><a
                                    class="resume-link" href="mailto:aidanmelendez@gmail.com">aidanmelendez@gmail.com</a></li>
                            <li class="mb-2"><fa-icon class="px-2" [icon]="['fas', 'globe']"></fa-icon><a class="resume-link"
                                    href="#">www.aidanmelendez.com</a></li>
                            <li class="mb-0"><fa-icon class="px-2" [icon]="['fas', 'map-marker-alt']"></fa-icon>New Jersey</li>
                        </ul>
                    </div>
                    <!--//resume-contact-->
                </div>
                <!--//row-->

            </div>
            <!--//resume-header-->
            <hr>
            <div class="resume-intro py-3">
                <div class="media flex-column flex-md-row align-items-center">
                    <div class="media-body text-left">
                        <p class="mb-0">Extraordinarily focused and reliable full-stack software 
                            developer, with solid capabilities in C#, JavaScript and SQL.  
                            Modern front-end skills using Angular and familiarity with modern 
                            software processes, including Agile and GIT based workflows.  
                            Excellent work ethic and passionate about learning.</p>
                    </div>
                    <!--//media-body-->
                </div>
            </div>
            <!--//resume-intro-->
            <hr>
            <div class="resume-body">
                <div class="row">
                    <div class="resume-main col-12 col-lg-8 col-xl-9 pr-0 pr-lg-5">
                        <section class="work-section py-3">
                            <h3 class="text-uppercase resume-section-heading mb-4">Work Experiences</h3>
                            <div class="item mb-3">
                                <div class="item-heading row align-items-center mb-2">
                                    <h4 class="item-title col-12 col-md-6 mb-2 mb-md-0">Software Developer</h4>
                                    <div class="item-meta col-12 col-md-6 text-muted text-left text-md-right">
                                        Custom House, Philadelphia, PA | Oct 2018 - Present</div>

                                </div>
                                <div class="item-content">
                                    <p>Worked on small to large scale projects working in an agile-based process utilizing 
                                        Visual studio Dev Ops to manage user stories and subtasks in the sprint. Using Github 
                                        for GIT repo and code management. Using Visual Studio 2019 and publishing profiles to 
                                        manage API and DB deployments to Azure App Services</p>
                                    <ul class="resume-list">
                                        <li>Developed REST based Azure APIs using C#, Web API, ASP.NET Core, Entity Framework and Microsoft SQL 2018.</li>
                                        <li>Using Xamarin to develop for both iOS and Android. Used MVVM design patterns to design applications. 
                                            Using Appcenter and TestFlight to manage application builds for different stages in development.</li>
                                        <li>Using AngularJS and Angular 8 to design and develop responsive web applications. Worked with Angular to 
                                            create components, Services, pipes and directives. Updated legacy AngularJS applications by 
                                            building new components in Angular 8 and typescript.</li>
                                    </ul>
                                </div>
                            </div>
                            <!--//item-->
                            <div class="item mb-3">
                                <div class="item-heading row align-items-center mb-2">
                                    <h4 class="item-title col-12 col-md-6 mb-2 mb-md-0">Software Developer
                                    </h4>
                                    <div class="item-meta col-12 col-md-6 text-muted text-left text-md-right">
                                        Compute2020, Cherry Hill, NJ | July 2018 - Oct 2018</div>

                                </div>
                                <div class="item-content">
                                    <p>Designing, developing and deploying back-end features of a new social-media 
                                        based web platform on Azure. Developed REST based Azure APIs using C#, 
                                        Web API, ASP.NET MVC, Entity Framework and Microsoft SQL 2016.</p>
                                    <ul class="resume-list">
                                        <li>Using Microsoft SQL Server Management Studio and Entity Framework to construct 
                                            the data layers for the backend APIs. Using Database-first approach with EF and 
                                            using LINQ to retrieve and filter the data.</li>
                                        <li>Working in an agile-based process utilizing Atlassian JIRA to manage user stories 
                                            and subtasks in the sprint. Using Bitbucket for GIT repo and code management.  
                                            Using Visual Studio 2017 and publish profiles to manage API deployment to Azure App Services.</li>
                                    </ul>
                                </div>
                            </div>
                        </section>
                        <!--//work-section-->


                        <section class="project-section py-3">
                            <h3 class="text-uppercase resume-section-heading mb-4">Projects</h3>
                            <div class="item mb-3">
                                <div class="item-heading row align-items-center mb-2">
                                    <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Personal Website
                                    </h4>
                                    <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">
                                        <a href="https://github.com/CoreAidan/CoreAidan.github.io" class="theme-link">Open Source</a></div>

                                </div>
                                <div class="item-content">
                                    <p>A personal web portfolio developed with Anuglar. Utilizing Angular, 
                                        TypeScript and Reuseable components and Responsive UI.</p>
                                </div>
                            </div>
                            <div class="item mb-3">
                                <div class="item-heading row align-items-center mb-2">
                                    <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Smart Rockets
                                    </h4>
                                    <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">
                                        <a href="https://github.com/CoreAidan/CoreAidan.github.io" class="theme-link">Open Source</a></div>

                                </div>
                                <div class="item-content">
                                    <p>Made using the Godot Game engine. Uses a Genetic Learning Algorithm to train rocket objects to reach a selected target.</p>
                                </div>
                            </div>
                        </section>
                        <!--//project-section-->
                    </div>
                    <!--//resume-main-->
                    <aside class="resume-aside col-12 col-lg-4 col-xl-3 px-lg-4 pb-lg-4">
                        <section class="skills-section py-3">
                            <h3 class="text-uppercase resume-section-heading mb-4">Skills</h3>
                            <div class="item">
                                <h4 class="item-title">Technical</h4>
                                <ul class="list-unstyled resume-skills-list">
                                    <li class="mb-2">.NET C#, JavaScript</li>
                                    <li class="mb-2">HTML5, CSS3, Bootstrap 4</li>
                                    <li class="mb-2">Angular, TypeScript</li>
                                    <li class="mb-2">SQLite, MSSQL</li>
                                    <li class="mb-2">Xamarin Native</li>
                                    <li class="mb-2">Azure App Services, Azure Blob Storage</li>
                                    <li>Github, Agile SCRUM, CI, Azure DevOps</li>
                                </ul>
                            </div>
                            <!--//item-->
                            <div class="item">
                                <h4 class="item-title">Professional</h4>
                                <ul class="list-unstyled resume-skills-list">
                                    <li class="mb-2">Effective communication</li>
                                    <li class="mb-2">Team player</li>
                                    <li class="mb-2">Strong problem solver</li>
                                    <li>Good time management</li>
                                </ul>
                            </div>
                            <!--//item-->
                        </section>
                        <!--//skills-section-->
                        <section class="education-section py-3">
                            <h3 class="text-uppercase resume-section-heading mb-4">Education</h3>
                            <ul class="list-unstyled resume-education-list">
                                <li class="mb-3">
                                    <div class="resume-degree font-weight-bold">Studied Computer Science</div>
                                    <div class="resume-degree-org text-muted">Camden County College</div>
                                    <div class="resume-degree-time text-muted">2014 - 2015</div>
                                </li>
                            </ul>
                        </section>
                        <!--//education-section-->
                        <!--//certificates-section-->
                        <section class="skills-section py-3">
                            <h3 class="text-uppercase resume-section-heading mb-4">Interests</h3>
                            <ul class="list-unstyled resume-interests-list mb-0">
                                <li class="mb-2">Game Development</li>
                                <li class="mb-2">Illustrations</li>
                                <li class="mb-2">Physical Fitness</li>
                            </ul>
                        </section>
                        <!--//certificates-section-->

                    </aside>
                    <!--//resume-aside-->
                </div>
                <!--//row-->
            </div>
            <!--//resume-body-->
            <hr>
            <div class="resume-footer text-center">
                <ul class="resume-social-list list-inline mx-auto mb-0 d-inline-block text-muted">
                    <li class="list-inline-item mb-lg-0 mr-3"><a class="resume-link" href="https://github.com/CoreAidan"><i
                                class="fab fa-github-square fa-2x mr-2" data-fa-transform="down-4"></i><span
                                class="d-none d-lg-inline-block text-muted">github.com/coreaidan</span></a></li>
                    <li class="list-inline-item mb-lg-0 mr-3"><a class="resume-link" href="https://www.linkedin.com/in/aidan-melendez-2a8894132"><i
                                class="fab fa-linkedin fa-2x mr-2" data-fa-transform="down-4"></i><span
                                class="d-none d-lg-inline-block text-muted">linkedin.com/in/aidan-melendez-2a8894132</span></a></li>
                </ul>
            </div>
            <!--//resume-footer-->
        </article>

    </div>
    <!--//container-->

    <app-footer></app-footer>

</div>
<!--//main-wrapper-->